.button-div {
    display: flex;
    padding: 16px;
    margin-top: 40px;
}

button {
    padding: 12px 16px;
    border-radius: 4px;
    margin-right: 8px;
    border: none;
    background: #b2ca06;
    cursor: pointer;
}

button:hover {
    background: #9db105;
}